.min-max-card {
  width: 400px;
  margin: 20px auto;
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.min-max-card-title {
  height: 40px;
  line-height: 40px;
  background: #e8e8e8;
  text-align: center;
  color: #606066;
  font-weight: bold;
  font-size: 19px;
}

.min-max-value {
  height: 30px;
  padding: 10px 0px;
  line-height: 30px;
  text-align: center;
  color: #000;
  font-weight: bold;
}
